@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

body{
    margin: 0;
    background-color: #FAFAFA;
}
main{
    font-size: 1rem;
    margin: auto;
    width: auto;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 19% 26% 45% 1fr;
    grid-template-areas: "photo pres"
                    "contact formation"
                    "propos exp"
                    "loisirs reco";
    height: 1684px;
}
header{
    margin: auto;
    grid-area: pres;
}
span{
    font-weight: 700;
}
span, #line{
    color: #880E4F;
}
h1{
    color: black;
}
h2{
    text-align: left;
}
#line{
     width: 70px;
     border-top: solid 2px;
}
.photo{
    display: flex;
    grid-area: photo;
    visibility: visible;
}
img{
    margin: auto; 
    max-width: 200px;   
}
aside{
    display: contents;
}
.propos, .loisirs, .contact, .photo{
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    width: 380px;
}
.TitreGauche{
    text-align: center;
    background-color: #263238;
    color: #F5F5F5;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 700;
   
}
.propos p{
    flex: auto;
    margin: auto;
    padding: 5% 10% 5% 10%;
    text-align: justify;
}
.contact ul{
    flex: auto;
    padding: 5% 10% 5% 10%;
}
.contact li{
   margin-bottom: 15px;
}
a{
    display: block;
    text-decoration: none;
    color: #404040;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
a:hover{
    color: #880E4F;
    text-decoration: none;
}
.loisirs ul{
    display: flex;
    justify-content: space-evenly;
    margin : 35px 40px 
}
.circle-icon{
    border-radius: 50%;
    border: solid #404040 2px;
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
}
.formation{
    padding-top: 25px;
    grid-area: formation;
  
}
.experience{
    padding-top: 40px;
    grid-area: exp;
}
header, .formation, .experience, footer{
    margin-left: 70px;
}
.TitreDroite{
    display: flex;
    color: black;
    border-bottom:#880E4F solid 2px;
    max-width: 680px;
    padding-bottom: 5px;
}
.TitreDroite h3, .formation h4, .experience h4{
    font-weight: 700;
}
.formation ul, .experience ul {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    font-weight: bold;  
}
[id*=ico]{
    margin-right: 25px;
}
.formation li:nth-child(3), .experience li:nth-child(3){
    margin-left: 14%;
    font-weight: 300;
}
.formation li p, .experience li p{
    margin-bottom: 10px;
}
ul i{
    margin-right: 15px;
    padding-top: 8px;
}
#citations{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
blockquote{
    width: 180px;
    margin-top: 40px;
    margin-right: 5%;
}
blockquote:nth-child(2){
    margin-right: 40px;
}
footer{
    grid-area: reco;
    padding-top: -40px;
    z-index: 1000;
}
.contact{
    grid-area: contact;
}
.propos{
    grid-area: propos;
}
.loisirs{
    grid-area: loisirs;
}
@media all and (max-width:992px){
    main{ 
        grid-template-rows: 1fr 2fr 3fr 1fr;
        grid-template-areas: "pres pres"
                             "contact formation"
                                "propos exp"
                                "loisirs reco"
                                ;
         }  
    header{
        margin: auto;
        position: relative;   
    }   
    #line{
        position: absolute;
        right: 0;
        bottom: 0;
    }  
     h2{
         text-align: right;
     }
     aside{
         width: auto;
    }
    .propos, .contact, .loisirs{
         position: sticky;
         top: 0;
         width: auto;
    }
   
    .formation, .experience, footer{
        max-width: 500px;
    }
    .formation li:nth-child(3), .experience li:nth-child(3){
        margin-left: 10%;
    }
    .photo{
        display: none;
        visibility: hidden;
    }
}
@media all and (max-width:576px){
    main{
        grid-template-rows: repeat(8,1fr);
        grid-template-areas: "photo"
                             "pres"
                              "formation"
                              "exp"
                              "reco"
                              "propos"
                              "loisirs"
                              "contact"
                              ;
    }
    #line{
        left: 0;
    }
    .formation, .experience, footer, header{
        margin: 8% 5% 5% 5%;
        width: auto;
    }
    h2{
        text-align: left;
    }
    .propos, .loisirs, .contact, .photo{
        width: auto;  
    }
    .contact ul{
        margin: auto;
        text-align: center;
    }
    .contact li{
       margin-bottom: 15px;
    }
    #citations{
        margin-left: 5%;
    }
    .photo{
        visibility: visible;
        padding: 5%;
        display: flex;
    }
}

