@import url(//db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC);
@font-face {font-family: "PingFang SC"; 
    src: url("//db.onlinewebfonts.com/t/05e476e067ffef74ca5686f229c40a63.eot"); 
    src: url("//db.onlinewebfonts.com/t/05e476e067ffef74ca5686f229c40a63.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/05e476e067ffef74ca5686f229c40a63.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/05e476e067ffef74ca5686f229c40a63.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/05e476e067ffef74ca5686f229c40a63.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/05e476e067ffef74ca5686f229c40a63.svg#PingFang SC") format("svg"); }
 
#blocPage{
    display: grid;
    grid-template-columns: 32% 1fr;
    grid-template-rows: 19% 26% 45% 1fr;
    grid-template-areas: "photo pres"
                        "contact formation"
                        "propos exp"
                        "loisirs reco";
    color: #404040;
    margin : auto;
    font-family: "PingFang SC";
    max-height: 1684px;
    font-size: 1rem;
}
.photo{
    display: flex;
    grid-area: photo;
}
.propos, .loisirs, .contact, .photo{
    background-color: #feca07;
}
img{
    margin: auto; 
    max-width: 200px;   
}
.presentation{
    padding-top : 100px;
    grid-area: pres;
}
span{
    color: #feca07;
    font-weight: bold;
}
h1{
    color: black;
}
#line{
    width: 70px;
    border-bottom: solid #feca07 2px;
}
.formation{
    padding-top: 25px;
    grid-area: formation;
}
.experience{
    padding-top: 60px;
    grid-area: exp;
}
.TitreGauche{
    text-align: center;
    background-color: #404040;
    color: #feca07;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 45px;
}
.contact ul, .propos p{
     margin: 30px 45px 0 50px;
}
.contact li{
    margin-bottom: 15px;
}

.presentation, .formation, .reco, .experience{
    padding-left: 70px;
}
a{
    text-decoration: none;
    color: #404040;
}
a:hover{
    color: black;
    text-decoration: none;
}
.TitreDroite{
    display: flex;
    color: black;
    border-bottom: #feca07 solid 2px;
    max-width: 680px;
    padding-bottom: 5px;
}
[id*=ico]{
    margin-right: 25px;
}
.loisirs ul{
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
    margin : 35px 40px 
}
.circle-icon{
    border-radius: 50%;
    border: solid #404040 2px;
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
}
.formation ul, .experience ul {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    font-weight: bold;  
}
.formation li:nth-child(3), .experience li:nth-child(3){
    margin-left: 120px;
    font-weight: lighter;
            
}
.formation li p, .experience li p{
    margin-bottom: 10px;
}
ul i{
    margin-right: 15px;
    padding-top: 8px;
}
#citations{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}
blockquote{
    display: block;
    width: 180px;
    margin-top: 40px;
    margin-right: 60px;
}

blockquote:nth-child(2){
    margin-right: 40px;
}
.contact{
    grid-area: contact;
}
.propos{
    grid-area: propos;
}
.loisirs{
    grid-area: loisirs;
}
.reco{
    grid-area: reco;
    padding-top: -50px;
}




